<?php if (!defined('_GNUBOARD_')) exit; ?>

<article class="board-view">
    <h4 class="margin-bottom-15"><span class="color-grey">[{view.category}]</span> <strong>{view.subject}</strong></h4>

    <section class="board-view-info">
        <h2>페이지 정보</h2>
        <div class="pull-left">
            <span class="view-user-icon"><i class="fa fa-user"></i></span> <span class="view-nick">{view.name}</span>
        </div>
        <div class="pull-right text-right">
            <span><i class="fa fa-clock-o color-grey"></i> {view.datetime}</span>
        </div>
        <div class="clearfix"></div>
    </section>

    <!--{? view.download_count}-->
    <!--{* 첨부파일 시작 *}-->
    <section class="board-view-file">
        <h2>첨부파일</h2>
        <ul class="list-unstyled">
        <!--{@ files}-->
            <li>
                <a href="{.download_href}">
                    - 첨부파일: <strong>{.download_source}</strong>
                </a>
            </li>
        <!--{/}-->
        </ul>
    </section>
    <!--{* 첨부파일 끝 *}-->
    <!--{/}-->

    <!--{? view.email || view.hp}-->
    <section class="board-view-contact">
        <h2>연락처정보</h2>
        <!--{? view.email}-->
        <div class="contact-email">
            - 이메일: <strong>{view.email}</strong>
        </div>
        <!--{/}-->
        <!--{? view.hp}-->
        <div class="contact-hp">
            - 휴대폰: <strong>{view.hp}</strong>
        </div>
        <!--{/}-->
    </section>
    <!--{/}-->

    <!--{* 게시물 상단 버튼 시작 *}-->
    <div class="view-top-btn">
        <!--{? _prev_href || next_href}-->
        <ul class="top-btn-left list-unstyled pull-left">
            <!--{? _prev_href}--><li><a href="{_prev_href}" class="btn-e btn-e-light-grey" type="button">이전글</a></li><!--{/}-->
            <!--{? _next_href}--><li><a href="{_next_href}" class="btn-e btn-e-light-grey" type="button">다음글</a></li><!--{/}-->
        </ul>
        <!--{/}-->

        <ul class="top-btn-right list-unstyled pull-right">
            <!--{? _update_href}--><li><a href="{_update_href}" class="btn-e btn-e-dark" type="button">수정</a></li><!--{/}-->
            <!--{? _delete_href}--><li><a href="{_delete_href}" class="btn-e btn-e-dark" type="button" onclick="del(this.href); return false;">삭제</a></li><!--{/}-->
            <li><a href="{_list_href}" class="btn-e btn-e-dark" type="button">목록</a></li>
            <!--{? _write_href}--><li><a href="{_write_href}" class="btn-e btn-e-red" type="button"><i class="fa fa-pencil"></i> 글쓰기</a></li><!--{/}-->
        </ul>
    </div>
    <!--{* 게시물 상단 버튼 끝 *}-->

    <section class="board-view-atc">
        <h2 class="board-view-atc-title">본문</h2>

        <!--{? view.img_count}-->
            <div class="board-view-img">
            <!--{@ thumbs}-->{.value_}<!--{/}-->
            </div>
        <!--{/}-->

        <!--{* 본문 내용 시작 *}-->
        <div class="board-view-con">{=get_view_thumbnail(view.content, qaconfig.qa_image_width)}</div>
        <!--{* 본문 내용 끝 *}-->

        <!--{? view.qa_type}-->
        <div class="board-view-addq"><a href="{_rewrite_href}" class="btn-e btn-e-dark">추가질문</a></div>
        <!--{/}-->
    </section>

    <!--{? !view.qa_type}-->
        <!--{? view.qa_status && answer.qa_id}-->
        {# answer_bs}
        <!--{:}-->
        {# answerform_bs}
        <!--{/}-->
    <!--{/}-->

    <!--{? view.rel_count}-->
    <section class="board-view-rel">
        <h5><strong>연관질문</strong></h5>
        <div class="table-list-eb margin-bottom-20">
            <div class="board-list-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>제목</th>
                            <th class="hidden-xs">상태</th>
                            <th class="hidden-xs">등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--{@ rel_list}-->
                        <tr>
                            <td class="td-width">
	                            <div class="td-subject ellipsis">
		                            <span class="color-grey">[{.category}]</span>&nbsp;
	                                <a href="{.view_href}">
	                                    {.subject}
	                                </a>
	                            </div>
                            </td>
                            <td class="{? .qa_status}txt_done{:}txt_rdy{/} text-center hidden-xs"><!--{? .qa_status}-->답변완료<!--{:}-->답변대기<!--{/}--></td>
                            <td class="text-center hidden-xs">{.date}</td>
                        </tr>
				        <tr class="td-mobile visible-xs"><!--{* 767px 이하에서만 보임 *}-->
					        <td colspan="{colspan}">
						        <span><i class="fa fa-clock-o"></i> {.date}</span>
						        <span class="{? .qa_status}txt_done{:}txt_rdy{/}"><!--{? .qa_status}-->답변완료<!--{:}-->답변대기<!--{/}--></span>
					        </td>
				        </tr>
                        <!--{/}-->
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!--{/}-->

    <!--{* 링크 버튼 시작 *}-->
    <div class="view-top-btn">
        <!--{? _prev_href || next_href}-->
        <ul class="top-btn-left list-unstyled pull-left">
            <!--{? _prev_href}--><li><a href="{_prev_href}" class="btn-e btn-e-light-grey" type="button">이전글</a></li><!--{/}-->
            <!--{? _next_href}--><li><a href="{_next_href}" class="btn-e btn-e-light-grey" type="button">다음글</a></li><!--{/}-->
        </ul>
        <!--{/}-->
        <ul class="top-btn-right list-unstyled pull-right">
            <!--{? _update_href}--><li><a href="{_update_href}" class="btn-e btn-e-dark" type="button">수정</a></li><!--{/}-->
            <!--{? _delete_href}--><li><a href="{_delete_href}" class="btn-e btn-e-dark" type="button" onclick="del(this.href); return false;">삭제</a></li><!--{/}-->
            <li><a href="{_list_href}" class="btn-e btn-e-dark" type="button">목록</a></li>
            <!--{? _write_href}--><li><a href="{_write_href}" class="btn-e btn-e-red" type="button">글쓰기</a></li><!--{/}-->
        </ul>
        <div class="clearfix"></div>
    </div>
    <!--{* 링크 버튼 끝 *}-->
</article>

<style>
.board-view .board-view-info {border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:7px 0;margin-top:15px;font-size:11px}
.board-view .board-view-info h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.board-view .board-view-info .pull-left span {margin-right:5px}
.board-view .board-view-info .pull-right {line-height:26px}
.board-view .board-view-info .pull-right span {margin-left:5px}
.board-view .board-view-info .view-user-icon {width:26px;height:26px;font-size:16px;line-height:26px;text-align:center;background:#84848a;color:#fff;margin-right:2px;display:inline-block;white-space:nowrap;vertical-align:baseline}
.board-view .board-view-info .view-nick {font-size:12px;font-weight:bold}
.board-view .board-view-file {font-size:11px}
.board-view .board-view-file h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.board-view .board-view-file ul {margin-bottom:0}
.board-view .board-view-file li {padding:6px 0;border-bottom:1px solid #eee}
.board-view .board-view-file span {margin-left:5px}
.board-view .board-view-contact {font-size:11px}
.board-view .board-view-contact h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.board-view .board-view-contact .contact-email {padding:6px 0;border-bottom:1px solid #eee}
.board-view .board-view-contact .contact-hp {padding:6px 0;border-bottom:1px solid #eee}
.board-view .view-top-btn {margin:0 0 10px;padding:10px 0;zoom:1}
.board-view .view-top-btn:after {display:block;visibility:hidden;clear:both;content:""}
.board-view .view-top-btn h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.board-view .view-top-btn .top-btn-left li {float:left;margin-right:5px}
.board-view .view-top-btn .top-btn-right li {float:left;margin-left:5px;margin-bottom:5px}
.board-view .board-view-atc {min-height:200px;height:auto !important;height:200px}
.board-view .board-view-atc-title {position:absolute;font-size:0;line-height:0;overflow:hidden}
.board-view .board-view-img {margin:0;width:100%;overflow:hidden;zoom:1}
.board-view .board-view-img:after {display:block;visibility:hidden;clear:both;content:""}
.board-view .board-view-img img {max-width:100%;height:auto}
.board-view .board-view-con {margin-bottom:30px;width:100%;line-height:1.7;word-break:break-all;overflow:hidden}
.board-view .board-view-con a {color:#000;text-decoration:underline}
.board-view .board-view-con img {max-width:100%;height:auto}
.board-view-rel .txt_done {color:#aaa}
.board-view-rel .txt_rdy {color:#ff2a00}
.board-view-rel .tab-e2 .nav-tabs li.active a {border:1px solid #000;border-top:1px solid #ff2a00}
.board-view-rel .tab-e2 .tab-content {padding:0;border:0}
.table-list-eb .table thead > tr > th {border-bottom:1px solid #000}
.table-list-eb .table tbody > tr > td {padding:8px 5px}
.table-list-eb .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {background:#fafafa}
.table-list-eb thead {border-top:1px solid #000;border-bottom:1px solid #000;background:#fff}
.table-list-eb th {color:#000;font-weight:bold;white-space:nowrap}
.table-list-eb .td-subject {width:300px}
@media (max-width: 1199px) {
	.table-list-eb .td-subject {width:260px}
}
@media (max-width: 767px) {
	.table-list-eb .td-width {width:inherit}
	.table-list-eb .td-subject {width:280px}
}
.table-list-eb .td-mobile td {border-top:1px solid #f0f0f0;padding:4px 5px !important;font-size:10px;color:#999}
.table-list-eb .td-mobile td span {margin-right:5px}
</style>

<script src="../../../../../../js/viewimageresize.js"></script>
<script>
$(function() {
    $("a.view_image").click(function() {
        window.open(this.href, "large_image", "location=yes,links=no,toolbar=no,top=10,left=10,width=10,height=10,resizable=yes,scrollbars=no,status=no");
        return false;
    });

    // 이미지 리사이즈
    $(".board-view-atc").viewimageresize();
});
</script>