/*--------------------------------------
	eyoom (이윰빌더)
--------------------------------------*/

/*---------- Wrapper & Basic Layout & Boxed Layout ----------*/
.wrapper {background:#eaeaea}
.basic-layout {background:#fff}
.boxed-layout {padding:0;box-shadow:0 0 5px #bbb;margin-left:auto !important;margin-right:auto !important;background:#fff}
@media (min-width: 992px) {
	.boxed-layout .header-nav > .navbar > .container {padding-right:0;padding-left:0}
	.boxed-layout .header-nav > .navbar > .container li.menu-icons i.menu-icons-style {margin-right:15px}
}

/*---------- Header Top Bar ----------*/
.header-topbar {position:relative;background:#fff;border-bottom:solid 1px #e5e5e5}
.header-topbar ul {margin:0}
.header-topbar .topbar-left li {color:#333;padding:5px 0;font-size:12px;margin-right:15px;display:inline-block}
.header-topbar .topbar-left li:last-child {margin-right:0}
.header-topbar .topbar-right {text-align:right}
.header-topbar .topbar-right li {padding:5px 12px;display:inline-block;border-right:1px solid #e5e5e5}
.header-topbar .topbar-right li:first-child {border-left:solid 1px #e5e5e5}
.header-topbar .topbar-right li a {font-size:12px}
.header-topbar .topbar-right li a:hover {text-decoration:none}
.header-topbar .topbar-right li i {color:#777}
.header-topbar .topbar-right li a:hover i {color:#ff2a00}
.header-topbar .topbar-right li.dropdown-extended li {border-left:0;border-right:0;top:0;margin-left:0;position:relative;border:0;text-align:left}
.header-topbar .dropdown-extended .dropdown-menu {float:right;left:inherit;right:0px;margin:0;margin-right:9px;border:1px solid #ccc;background-color:#fafafa;width:275px;z-index:9999}
.header-topbar .dropdown-extended .dropdown-menu:before {position:absolute;top:-7px;right:30px;display:inline-block !important;border-right:7px solid transparent;border-bottom:7px solid #fafafa;border-left:7px solid transparent;border-bottom-color:#ccc;content:""}
.header-topbar .dropdown-extended .dropdown-menu:after {position: absolute;top:-6px;right:31px;display:inline-block !important;border-right:6px solid transparent;border-bottom:6px solid #fafafa;border-left:6px solid transparent;content:""}
.header-topbar .dropdown-extended .dropdown-menu > li.external {display:block;overflow:hidden;padding:10px;letter-spacing:0.5px}
.header-topbar .dropdown-extended .dropdown-menu > li.external > h5 {margin:0;padding:0;float:left;font-size:12px;display:inline-block}
.header-topbar .dropdown-extended .dropdown-menu > li.external > a {display:inline-block;padding:0;background:none;clear:inherit;font-size:12px;font-weight:300;position:absolute;right:10px;border:0;margin-top:-1px}
.header-topbar .dropdown-extended .dropdown-menu > li.external > a:hover {text-decoration:underline;color:#ff2a00}
.header-topbar .dropdown-extended .dropdown-menu .dropdown-menu-list {padding:0;margin:0;list-style:none;border:1px solid #eee}
.header-topbar .dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {display:block;clear:both;white-space:normal;padding:8px 0 0;text-shadow:none}
@media (max-width: 991px){
	.header-topbar ul {text-align:center !important}
	.header-topbar .topbar-left {margin:10px 0}
	.header-topbar .topbar-right li {top:1px;padding:5px 12px;margin-left:-5px;position:relative;border:solid 1px #e5e5e5}
}
@media (max-width: 767px){
	.header-topbar .dropdown-extended .dropdown-menu {right:-60px}
	.header-topbar .dropdown-extended .dropdown-menu:before {right:88px}
	.header-topbar .dropdown-extended .dropdown-menu:after {right:89px}
}

/*---------- Header Title ----------*/
.header-title {position:relative;background:#fff}
.header-title .header-logo {position:relative;width:200px;z-index:100}
.header-title .navbar-brand {position:relative;height:90px;max-height:90px;line-height:60px;font-size:32px;font-weight:bold;padding:15px 0;color:#64646a}
.header-title .navbar-brand img {height:40px;display:inline-block;vertical-align:middle;margin-top:-5px}
@media (max-width: 991px) {
	.header-title .header-logo.logo-none {display:none;z-index:0}
	.header-title .navbar-brand {position:absolute;top:10px;left:0;height:40px;max-height:40px;line-height:40px;font-size:30px;padding:5px 0}
}
.header-title .header-banner {padding:15px 0}
.header-title .header-banner .header-banner-box {position:relative;overflow:hidden;width:468px;height:60px}
.header-title .header-banner .header-banner-img {background:#000;width:468px;height:60px}
.header-title .header-banner .header-banner-txt {border:1px solid #e5e5e5;background:#f2f2f2;height:60px;line-height:60px;text-align:center}

/*---------- Header Nav ----------*/
.header-nav {z-index:99;position:relative}
@media (min-width: 768px) and (max-width: 991px) {
  	.header-nav .menu-container {width:750px}
}
@media (max-width: 991px) {
	.header-nav .navbar {min-height:70px;padding-top:10px}
	.header-nav {position:static;border-bottom:1px solid #e5e5e5}
	.header-nav .menu-container:before, .header-nav .menu-container:after {content:" ";display:table}
	.header-nav .menu-container:after {clear:both}
    .header-nav .menu-container {margin-left:auto;margin-right:auto;padding-left:15px;padding-right:15px}
	.header-nav > .navbar > .container {width:inherit;margin-left:0;margin-right:0;padding-left:0;padding-right:0}
	.header-nav > .navbar > .container > .navbar-header, .header-nav > .navbar > .container > .navbar-collapse {margin-left:0;margin-right:0}
}
.header-nav .navbar {border:none;margin-bottom:0}
.header-nav .navbar-toggle {border:none;margin:5px 0 5px 10px;font-size:16px}
.header-nav .navbar-toggle .icon-bar:last-child {margin-bottom:0}
.header-nav .navbar-toggle, .header-nav .navbar-toggle:hover, .header-nav .navbar-toggle:focus {background:inherit}
.header-nav .navbar-collapse {position:relative}
.header-nav .navbar-nav > li > a {color:#fff;font-size:12px;font-weight:bold;letter-spacing:0px}
.header-nav .nav > li > a:hover, .header-nav .nav > li > a:focus {background:inherit}
.header-nav .navbar-nav .dropdown > a:after {top:12px;right:12px;font-size:11px;position:absolute;font-weight:normal;color:#bbb;display:inline-block;font-family:FontAwesome;content:"\f0d7"}
@media (min-width: 992px) {
	.navbar {border-radius:0}
	.header-nav .navbar-nav {float:left}
}
/*Nav In Right*/
.header-nav .nav-in-right {float:right;z-index:999;margin-left:-20px;position:relative}
@media (max-width: 350px) {
	.header-nav .nav-in-right {display:none}
}
.header-nav .menu-icons-list {margin:0;list-style:none}
.header-nav li.menu-icons {position:relative;display:inline-block}
.header-nav li.menu-icons i.menu-icons-style {color:#fff;width:25px;cursor:pointer;font-size:16px;line-height:44px;text-align:center;display:inline-block}
.header-nav .search-open {top:0;right:0; width:100%;z-index:99;height:auto;display:none;padding:10px 15px;position:absolute;background:#fff}
.header-nav .search-open .form-control {color:#333;border:none;height:26px;font-size:13px;font-weight:400;box-shadow:none;background:#fff;padding:0 20px}
@media (max-width: 991px) {
	.header-nav .search-open .form-control {padding:0;background:#f4f4f4;padding:0 10px;margin-top:3px}
	.header-nav li.menu-icons i.menu-icons-style {line-height:52px}
}
@media (min-width: 768px) and (max-width: 991px) {
	.header-nav .search-open .form-control {position:relative;overflow:hidden;width:500px;margin:3px auto}
}
.header-nav .search-open .form-control::-moz-placeholder {color:#555}
.header-nav .search-open .form-control:-ms-input-placeholder {color:#555}
.header-nav .search-open .form-control::-webkit-input-placeholder {color:#555}
.header-nav .search-open .form-control:hover, .header-nav .search-open .form-control:active, .header-nav .search-open .form-control:focus {border:none;box-shadow:none}
.header-nav .search-close {z-index:999;position:relative}
.header-nav li.menu-icons i.search-btn {color:#fff}
.header-nav li.menu-icons i.fa-times {color:#444}
/*Responsive*/
@media (max-width: 991px) {
	.header-nav .navbar-header {float:none}
	.header-nav .navbar-toggle {display:block}
	.header-nav .navbar-collapse {border-color:#eee}
	.header-nav .navbar-collapse.collapse {display:none !important}
	.header-nav .navbar-collapse.collapse.in {display:block !important;overflow-y:auto !important}
	.header-nav .navbar-nav {margin: 0;float:none !important}
	.header-nav .navbar-nav > li {float:none}
	.header-nav .navbar-nav > li > a {padding-top:30px;padding-bottom:40px}
	.header-nav .navbar-nav > li > a {color:#444}
	.header-nav .dropdown-menu.pull-right {float:none !important}
	.header-nav .navbar-nav .open .dropdown-menu {border:0;float:none;width:auto;margin-top:0;position:static;box-shadow:none;background-color:transparent}
	.header-nav .navbar-nav .open .dropdown-menu > li > a, .header-nav .navbar-nav .open .dropdown-menu .dropdown-header {padding:5px 15px 5px 25px}
	.header-nav .navbar-nav .open .dropdown-menu > li > a {line-height:20px}
	.header-nav .navbar-nav .open .dropdown-menu > li > a:hover, .header-nav .navbar-nav .open .dropdown-menu > li > a:focus {background-image:none}
	.header-nav .navbar-nav .open .dropdown-menu > li > a {color:#777;}
	.header-nav .navbar-nav .open .dropdown-menu > li > a:hover, .header-nav .navbar-nav .open .dropdown-menu > li > a:focus {color:#ff2a00;background-color:transparent}
	.header-nav .navbar-nav .open .dropdown-menu > .active > a, .header-nav .navbar-nav .open .dropdown-menu > .active > a:hover, .header-nav .navbar-nav .open .dropdown-menu > .active > a:focus {color:#ff2a00;background-color:transparent}
	.header-nav .navbar-nav .open .dropdown-menu > .disabled > a, .header-nav .navbar-nav .open .dropdown-menu > .disabled > a:hover, .header-nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {color:#ff2a00;background-color:transparent}
	.header-nav .dropdown-menu.no-bottom-space {padding-bottom:0}
	.header-nav .navbar-collapse, .header-nav .navbar-collapse .container {padding-left:0 !important;padding-right:0 !important}
	.header-nav .navbar-nav > li > a {font-size:13px;padding:12px 5px}
	.header-nav .navbar-nav > li a {border-bottom:none;border-top:1px solid #eee}
	.header-nav .navbar-nav > li:first-child > a {border-top-color:transparent}
	.header-nav .navbar-nav > li > a:hover {color:#ff2a00;border-top:1px solid #ff2a00}
	.header-nav .navbar-nav > .open > a, .header-nav .navbar-nav > .open > a:hover, .header-nav .navbar-nav > .open > a:focus {color:#555;background:inherit}
	.header-nav .navbar-nav > .active > a, .header-nav .navbar-nav > .active > a:hover, .header-nav .navbar-nav > .active > a:focus {background:inherit;color:#ff2a00 !important}
	.header-nav .dropdown .dropdown-submenu > a {font-size:12px;color:#555 !important}
}
@media (min-width: 992px) {
	.header-nav .navbar-collapse {padding:0}
	.header-nav .navbar {min-height:40px !important}
	.header-nav .container > .navbar-header, .header-nav .container-fluid > .navbar-header, .header-nav .container > .navbar-collapse, .header-nav .container-fluid > .navbar-collapse {margin-bottom:-10px}
	.header-nav .navbar-nav {top:2px;position:relative}
	.header-nav .navbar-nav > li > a {padding:8px 15px;line-height:30px}
	.header-nav .navbar-nav > li > a, .header-nav .navbar-nav > li > a:hover, .header-nav .navbar-nav > li > a:focus, .header-nav .navbar-nav > .active > a, .header-nav .navbar-nav > .active > a:hover, .header-nav .navbar-nav > .active > a:focus {color:#fff;font-weight:bold;background:none}
	.header-nav .navbar-nav > .open > a, .header-nav .navbar-nav > .open > a:hover, .header-nav .navbar-nav > .open > a:focus {color:#fff}
	.header-nav .navbar-nav .dropdown > a:after {top:9px;right:5px;font-size:11px;position:absolute;font-weight:normal;color:#888;display:inline-block;font-family:FontAwesome;content:"\f0d7"}
	.header-nav .dropdown-menu {border:none;padding:12px 0;min-width:210px;border-radius:0;background:#fff;z-index:9999 !important;border-top:1px solid #ff2a00}
	.header-nav .dropdown-menu li a { color:#000; font-size:12px; font-weight:normal; padding:6px 20px}
	.header-nav .dropdown-menu .active > a, .header-nav .dropdown-menu li > a:hover {color:#ff2a00;background:inherit;filter:none !important;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out}
	.header-nav .dropdown-menu li > a:focus {background:none;filter:none !important}
	.header-nav .navbar-nav > li.dropdown:hover > .dropdown-menu {display:block}
	.header-nav .open > .dropdown-menu {display:none}
}
/*Dropdown Submenu*/
.header-nav .dropdown-submenu {position:relative}
.header-nav .dropdown-submenu > a > .sub-caret {top:5px;left:8px !important;float:right;font-size:11px;font-weight:normal;display:inline-block}
@media (min-width: 991px) {
  	.header-nav .dropdown-submenu > a > .sub-caret {position:absolute !important;left:inherit !important;right:8px;top: 9px}
}
.header-nav .dropdown-submenu > .dropdown-menu {top:-15px;left:100%;margin-left:0px}
.header-nav .dropdown-submenu > .dropdown-menu.submenu-left {left:-100%}
.header-nav .dropdown-submenu:hover > .dropdown-menu {display:block}
@media (max-width: 991px) {
	.header-nav .dropdown-submenu > .dropdown-menu {display:block;margin-left:15px}
}
.header-nav .dropdown-submenu.pull-left {float:none}
.header-nav .dropdown-submenu.pull-left > .dropdown-menu {left:-100%;margin-left:10px}
.header-nav .dropdown-menu li [class^="fa-"], .header-nav .dropdown-menu li [class*=" fa-"] {left:-3px;width:1.25em;margin-right:1px;position:relative;text-align:center;display:inline-block}
.header-nav .dropdown-menu li [class^="fa-"].fa-lg,
.header-nav .dropdown-menu li [class*=" fa-"].fa-lg {width:1.5625em}
/*Mega Menu*/
.header-nav .mega-menu .nav, .header-nav .mega-menu .dropup, .header-nav .mega-menu .dropdown, .header-nav .mega-menu .collapse {position:static}
.header-nav .mega-menu .navbar-inner, .header-nav .mega-menu .container {position:relative}
.header-nav .mega-menu .dropdown-menu {left:auto}
.header-nav .mega-menu .dropdown-menu > li {display:block}
.header-nav .mega-menu .dropdown-submenu .dropdown-menu {left:100%}
.header-nav .mega-menu .nav.pull-right .dropdown-menu {right:0}
.header-nav .mega-menu .mega-menu-content {*zoom:1;padding:0}
.header-nav .mega-menu .mega-menu-content:before, .header-nav .mega-menu .mega-menu-content:after {content:"";display:table;line-height:0}
.header-nav .mega-menu .mega-menu-content:after {clear:both}
.header-nav .mega-menu.navbar .nav > li > .dropdown-menu:after, .header-nav .mega-menu.navbar .nav > li > .dropdown-menu:before {display:none}
.header-nav .mega-menu .dropdown.mega-menu-area .dropdown-menu {left:0;right:0;overflow:hidden}
.header-nav .mega-menu .mega-height-list h3 {color:#000;font-size:14px;font-weight:bold;padding:0 10px}
@media (min-width: 1200px) {
	.header-nav .mega-menu .dropdown.mega-menu-area .dropdown-menu .container {width:1140px}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header-nav .mega-menu .dropdown.mega-menu-area .dropdown-menu .container {width:940px}
}
@media (min-width: 992px) {
	.header-nav .mega-menu .dropdown.mega-menu-area .dropdown-menu {margin-left:15px;margin-right:15px}
	.header-nav .mega-menu .mega-height {display:-webkit-flex;display:-ms-flexbox;display:flex}
	.header-nav .mega-menu .mega-height-in {display:-webkit-flex;display:-ms-flexbox;display:flex}
	.header-nav .mega-menu .big-screen-space {margin-bottom:20px}
	.header-nav .mega-menu .mega-height-in {padding:5px 0 10px;border-left:1px solid #e5e5e5}
	.header-nav .mega-menu .mega-height-in:first-child {border-left:none;margin-left:-1px}
	.header-nav .mega-menu .mega-height-list {width:100%}
	.header-nav .mega-menu .mega-height-list li a {display:block;position:relative;border-bottom:none;padding:5px 10px 5px 15px}
	.header-nav .mega-menu .mega-height-list a:hover {text-decoration:none}
	.header-nav .mega-menu .mega-menu-area li a {padding:5px 10px 5px 30px}
	.header-nav .mega-menu .mega-menu-area li a:after {top:7px;left:15px;font-size:11px;content:"\f105";position:absolute;font-weight:normal;display:inline-block;font-family:FontAwesome}
	.header-nav .mega-menu .mega-menu-area .disable-icons li a {padding:5px 10px 5px 15px}
	.header-nav .mega-menu .mega-menu-area .disable-icons li a:after {display:none}
}
@media (min-width: 737px) and (max-width: 991px) {
	.header-nav .mega-menu .mega-menu-content .container {width:690px !important}
	.header-nav .mega-menu .mega-height {margin-right:0;}
	.header-nav .mega-menu .mega-height-in {padding-right:0;margin-right:-15px}
}
@media (max-width: 991px) {
	.header-nav .mega-menu .mega-height {margin-right:0}
	.header-nav .mega-menu .mega-height-in {padding-right:0;padding-left:5px}
	.header-nav .mega-menu .dropdown.mega-menu-area .dropdown-menu {width:auto}
	.header-nav .mega-menu .mega-height-in, .header-nav .mega-menu .mega-height-list {display:block}
	.header-nav .mega-menu .mega-menu-area .dropdown-menu > li > ul {display:block}
	.header-nav .mega-menu .mega-height-list h3 { color:#555; margin:0 0 5px;font-size:13px; font-weight:400; padding:6px 15px 5px}
	.header-nav .mega-menu .mega-height-list li a {color:#777;display:block;font-size:12px; font-weight:400; margin-left:15px;padding:6px 25px}
	.header-nav .mega-menu .mega-height-list > h3.active, .header-nav .mega-menu .mega-height-list > .active > a, .header-nav .mega-menu .mega-height-list > .active > a:hover, .header-nav .mega-menu .mega-height-list > .active > a:focus {color:#ff2a00;background-color:transparent}
	.header-nav .mega-menu .mega-height-list li a:hover {color:#ff2a00;text-decoration:none}
}
/*Header Nav Fixed*/
@media (min-width: 992px) {
	.header-fixed .header-nav.header-sticky {width:100%;height:auto;z-index:999;position:relative}
	.header-fixed .header-nav.header-fixed-trans {border-bottom:none;box-shadow:0 0 3px #bbb;position:fixed;top:0;left:0}
	.header-fixed .header-nav.header-fixed-trans .navbar {background:#fff;border:0}
	.header-fixed .header-nav.header-fixed-trans .navbar-nav > li > a {color:#555}
	.header-fixed .header-nav.header-fixed-trans .navbar-nav .active > a, .header-fixed .header-nav.header-fixed-trans .navbar-nav li > a:hover {color:#ff2a00}
	.header-fixed .header-nav.header-fixed-trans li.menu-icons i.menu-icons-style {color:#555}
	.header-fixed .header-nav.header-fixed-trans .navbar-brand, .header-fixed .header-nav.header-fixed-trans .navbar-nav > li > a, .header-fixed .header-nav.header-fixed-trans li.menu-icons i.menu-icons-style, .header-fixed .header-nav.header-fixed-trans .search-open .form-control {-webkit-transition:all 0.4s cubic-bezier(0.7, 1, 0.7, 1);transition:all 0.4s cubic-bezier(0.7, 1, 0.7, 1)}
	.header-fixed .header-nav.header-fixed-trans .navbar-brand {height:70px;max-height:70px;line-height:39px}
	.header-fixed .header-nav.header-fixed-trans .navbar-nav > li > a {line-height:30px}
	.header-fixed .header-nav.header-fixed-trans li.menu-icons i.menu-icons-style {line-height:44px}
	.header-fixed .header-nav.header-fixed-trans li.menu-icons span.badge {top:5px}
	.header-fixed .header-nav.header-fixed-trans .shopping-cart .shopping-cart-open {top:70px}
	.header-fixed .header-nav.header-fixed-trans .search-open {border-bottom:1px solid #eee}
	.header-fixed .header-nav.header-fixed-trans .search-open .form-control {height:26px;font-size:13px}
	.header-fixed .header-sticky-space.header-fixed-space-trans {clear:both;margin-bottom:50px}
}
@media (max-width: 991px) {
	.header-fixed .header-nav, .header-fixed .header-nav.header-fixed-trans {height:inherit;position:relative}
	.header-fixed .header-nav.header-fixed-trans .nav-in-right, .header-fixed .header-nav.header-fixed-trans .menu-icons-list {margin-left:0;margin-right:20px}
	.header-nav li.menu-icons i.menu-icons-style {color:#555}
}
/*Fixed Boxed*/
.boxed-layout.header-fixed .header-nav.header-sticky {left:inherit;width:inherit}
/*Header Nav Background Light*/
@media (min-width: 992px) {
	.header-nav.nav-background-light .navbar {background:#fff;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5}
	.header-fixed .header-nav.nav-background-light .navbar-nav > li > a {color:#000;font-weight:bold}
	.header-fixed .header-nav.nav-background-light .navbar-nav .active > a, .header-fixed .header-nav.nav-background-light .navbar-nav li > a:hover {color:#ff2a00;background:#f4f4f4}
	.header-fixed .header-nav.nav-background-light li.menu-icons i.menu-icons-style {color:#555}
	.header-nav.nav-background-light .search-open .form-control {background:#f4f4f4}
}
/*Header Nav Background Dark*/
@media (min-width: 992px) {
	.header-nav.nav-background-dark, .header-fixed .header-nav.nav-background-dark.header-fixed-trans {box-shadow:none;background:#25252a}
	.header-nav.nav-background-dark .navbar, .header-fixed .header-nav.nav-background-dark.header-fixed-trans .navbar {background-color:inherit}
	.header-nav.nav-background-dark .navbar-nav > li > a, .header-fixed .header-nav.nav-background-dark.header-fixed-trans .navbar-nav > li > a {color:#fff}
	.header-nav.nav-background-dark .navbar-nav .active > a, .header-fixed .header-nav.nav-background-dark.header-fixed-trans .navbar-nav .active > a, .header-nav.nav-background-dark .navbar-nav li > a:hover, .header-fixed .header-nav.nav-background-dark.header-fixed-trans .navbar-nav li > a:hover {color:#ff2a00;background:#000}
	.header-nav.nav-background-dark li.menu-icons i.menu-icons-style, .header-fixed .header-nav.nav-background-dark.header-fixed-trans li.menu-icons i.menu-icons-style {color:#fff}
	.header-nav.nav-background-dark .search-open {background:#25252a}
	.header-fixed .header-nav.nav-background-dark.header-fixed-trans .search-open {border-bottom:none}
	.header-nav.nav-background-dark .search-open .form-control {color:#fff;background:#000}
	.header-nav.nav-background-dark .search-open .form-control::-moz-placeholder {color:#fff}
	.header-nav.nav-background-dark .search-open .form-control:-ms-input-placeholder {color:#fff}
	.header-nav.nav-background-dark .search-open .form-control::-webkit-input-placeholder {color:#fff}
	.header-nav.nav-background-dark li.menu-icons i.fa-times, .header-fixed .header-nav.nav-background-dark.header-fixed-trans li.menu-icons i.fa-times {color:#fff}
	.header-nav.nav-background-dark .dropdown-menu {background:#25252a}
	.header-nav.nav-background-dark .dropdown-menu li a {color:#ccc}
	.header-nav.nav-background-dark .dropdown-menu .active > a, .header-nav.nav-background-dark .dropdown-menu li > a:hover {color:#ff2a00}
	.header-nav.nav-background-dark .mega-menu .mega-height-in {border-left-color:#45454a}
	.header-nav.nav-background-dark .mega-menu .mega-height-list h3 { color:#fff}
	.header-nav.nav-background-dark .mega-menu .mega-height-list li a {color:#ccc}
	.header-nav.nav-background-dark .mega-menu .mega-height-list .active > a, .header-nav.nav-background-dark .mega-menu .mega-height-list li a:hover {color:#ff2a00}
}

/*---------- Header Slider ----------*/
.header-slider-bg {z-index:1;padding:110px 0;position:relative;overflow:hidden;text-align:center;height:400px}
.header-slider-bg:after {position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;content:" ";background:rgba(0,0,0,0.35)}
.header-slider-bg > img {position:absolute;top:0;left:0}
.header-slider-bg > .container {position:relative;z-index:3}
.header-slider-bg h1 {color:#fff;font-size:24px;font-weight:600;text-transform:uppercase;margin:0}
.header-slider-bg h2 {font-size:14px;font-weight:600;color:#fff;margin:10px 0 30px}
.header-slider-bg p {color:#ededed;font-size:12px;font-weight:200;margin:0}
@media (min-width: 768px) and (max-width: 991px) {
	.header-slider-bg {padding:100px 0 0}
}
@media (max-width: 767px) {
	.header-slider-bg {padding:70px 0 0;height:250px}
	.header-slider-bg h1 {font-size:24px;line-height:40px;margin-bottom:20px}
	.header-slider-bg p {display:none}
}
@media (max-width: 430px) {
	.header-slider-bg {padding:40px 0 0;height:180px}
	.header-slider-bg h1 {font-size:18px;margin-bottom:10px}
	.header-slider-bg h2 {font-size:12px}
}
/*owl control*/
.header-slider .owl-pagination {position:absolute;width:100%;bottom:10px;text-align:center}
.header-slider .owl-pagination .owl-page {background:#e5e5e5;width:15px;height:10px;border-radius:5px !important;display:inline-block;margin:0 5px;transition:all 0.3s ease-in-out}
.header-slider .owl-pagination .owl-page.active {background:#DF3128;width:30px}
.header-slider .owl-buttons > div {position:absolute;height:36px;width:50px;line-height:36px;text-align:center;background:rgba(255, 255, 255, 0.5);color:#fff;top:50%;margin-top:-18px}
.header-slider .owl-buttons .owl-prev {left:0}
.header-slider .owl-buttons .owl-next {right:0}

/*---------- Basic Body ----------*/
.basic-body .basic-body-main {padding-top:25px;padding-bottom:25px;min-height:800px}
.basic-body .basic-body-main.left-main {border-right:1px solid #e5e5e5}
.basic-body .basic-body-main.right-main {border-left:1px solid #e5e5e5}
.basic-body .basic-body-side {padding-top:25px;padding-bottom:25px}
.basic-body .basic-body-side.left-side {margin-right:-1px;border-right:1px solid #e5e5e5}
.basic-body .basic-body-side.right-side {margin-left:-1px;border-left:1px solid #e5e5e5}
@media (max-width: 991px){
	.basic-body .basic-body-main.left-main {border-right:0}
	.basic-body .basic-body-main.right-main {border-left:0}
	.basic-body .basic-body-side.left-side {margin-right:0;border-right:0}
	.basic-body .basic-body-side.right-side {margin-left:0;border-left:0}
}

/*---------- Board Title ----------*/
.board-title {position:relative;overflow:hidden;padding:12px 0;background:#fcfcfc;border-bottom:1px solid #e5e5e5}
.board-title h3 {margin:0;padding:0;line-height:30px;font-size:17px;color:#000;font-weight:bold}
.board-title h3 i {color:#bbb}
.board-title .breadcrumb {padding:0;margin:0;list-style:none;background-color:inherit;border-radius:0;line-height:30px}

/*---------- Main Banner Slider ----------*/
.main-banner-slider {position:relative;overflow:hidden;height:100px}
.main-banner-slider .item {position:relative;overflow:hidden;background:#54545a}
.main-banner-slider .item img {height:100px}
.main-banner-slider .item .banner-slider-text {position:absolute;top:10px;left:20px}
.main-banner-slider .item .banner-slider-text h1 {color:#000;font-size:16px;font-weight:bold;text-transform:uppercase;line-height:20px}
.main-banner-slider .item .banner-slider-text p {color:#fff;font-size:12px}
.main-banner-slider .owl-navi a.owl-btn {color:#000;width:20px;height:20px;font-size:10px;cursor:pointer;line-height:20px;text-align:center;display:inline-block;opacity:0.7;background:#fff}
.main-banner-slider .owl-navi a.owl-btn:hover {color:#fff;opacity:0.7;background:#000;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.main-banner-slider .owl-navi a.owl-btn.prev-main-banner {position:absolute;top:2px;right:24px;z-index:1}
.main-banner-slider .owl-navi a.owl-btn.next-main-banner {position:absolute;top:2px;right:2px;z-index:1}

/*---------- Main Tab ----------*/
.main-tab .nav-tabs > li > a {margin-right:0}
.main-tab .tab-e2 .nav-tabs {border-bottom:1px solid #e5e5e5;background:#f8f8f8}
.main-tab .tab-e2 .nav-tabs li {width:25%}
.main-tab .tab-e2 .nav-tabs li a {padding:7px;background:none;border:1px solid #e5e5e5;border-bottom:none;border-right:none;font-weight:bold;font-size:12px;color:#555;text-align:center;display:block;overflow:hidden;white-space:nowrap;word-wrap:normal;text-overflow:ellipsis}
.main-tab .tab-e2 .nav-tabs li.active a {background:#fff;color:#000;padding:7px;border-bottom:0;border-top:1px solid #ff2a00}
.main-tab .tab-e2 .nav-tabs li.last {border-right:1px solid #e5e5e5}
.main-tab .tab-e2 .tab-content {position:relative;overflow:hidden;margin-bottom:0;padding:0;border:1px solid #e5e5e5;border-top:0}
.main-tab .tab-e2 .tab-content-wrap {position:relative;display:block;overflow:hidden}
.main-tab.tab-latest-text-padding .tab-content-wrap {padding:15px;min-height:261px}
.main-tab.tab-latest-image-padding .tab-content-wrap {padding:15px 12px 5px;min-height:298px}

/*---------- Side Tab ----------*/
.side-tab .nav-tabs > li > a {margin-right:0}
.side-tab .tab-e2 .nav-tabs {border-bottom:1px solid #e5e5e5;background:#f8f8f8}
.side-tab .tab-e2 .nav-tabs li {width:50%}
.side-tab .tab-e2 .nav-tabs li a {padding:7px;background:none;border:1px solid #e5e5e5;border-bottom:none;border-right:none;font-weight:bold;font-size:12px;color:#555;text-align:center;display:block;overflow:hidden;white-space:nowrap;word-wrap:normal;text-overflow:ellipsis}
.side-tab .tab-e2 .nav-tabs li.active a {background:#fff;color:#000;padding:7px;border-bottom:0;border-top:1px solid #ff2a00}
.side-tab .tab-e2 .nav-tabs li.last {border-right:1px solid #e5e5e5}
.side-tab .tab-e2 .tab-content {position:relative;overflow:hidden;margin-bottom:0;padding:0;border:1px solid #e5e5e5;border-top:0}
.side-tab .tab-e2 .tab-content-wrap {position:relative;display:block;overflow:hidden;padding:10px}

/*---------- Footer ----------*/
.footer {position:relative;z-index:1}
/*Footer Background Light*/
.footer.footer-light {padding:10px 0 0;background:#fff;font-size:12px;border-top:1px solid #e5e5e5}
.footer.footer-light p {color:#777}
.footer.footer-light .heading-footer {text-align:left;position:relative;margin-bottom:20px;padding-bottom:2px}
.footer.footer-light .heading-footer:after {left:0;bottom:0;height:1px;width:40px;content:" ";background:#ff2a00;position:absolute}
.footer.footer-light .heading-footer h4 {color:#333;font-size:15px;font-weight:bold}
.footer.footer-light .footer-link-list li {padding:8px 0px;border-top:dotted 1px #e5e5e5}
.footer.footer-light .footer-link-list li:first-child {padding-top:0;border-top:none}
.footer.footer-light .footer-link-list li a {color:#777;font-size:12px;display:inline-block}
.footer.footer-light .footer-link-list a:hover {color:#000}
.footer.footer-light .contactus {margin-bottom:0}
.footer.footer-light .contactus li {margin-bottom:20px;color:#64646a}
.footer.footer-light .contactus li:before, .footer.footer-light .contactus li:after {content:" ";display:table}
.footer.footer-light .contactus li:after {clear:both}
.footer.footer-light .contactus li i {float:left;width:30px;height:30px;color:#000;padding:8px 5px;background:#c5c5c5;text-align:center;margin:4px 10px 0 0;display:inline-block}
.footer.footer-light .contactus li p {margin-bottom:0}
.footer.footer-light .contactus li a {color:#777}
.footer.footer-light .contactus li a:hover {color:#000}
.footer.footer-light .copyright {margin-top:10px;padding:15px 0;background:#fff;border-top:1px solid #e5e5e5}
.footer.footer-light .copyright p {font-size:12px;margin:0;color:#000}
/*Footer Background Dark*/
.footer.footer-dark {padding:10px 0 0;background:#212227;font-size:12px}
.footer.footer-dark p {color:#888}
.footer.footer-dark .heading-footer {text-align:left;position:relative;margin-bottom:20px;padding-bottom:2px}
.footer.footer-dark .heading-footer:after {left:0;bottom:0;height:1px;width:40px;content:" ";background:#aaa;position:absolute}
.footer.footer-dark .heading-footer h4 {color:#e5e5e5;font-size:15px;font-weight:bold}
.footer.footer-dark .footer-link-list li {padding:9px 0px;border-top:solid 1px #333}
.footer.footer-dark .footer-link-list li:first-child {padding-top:0;border-top:none}
.footer.footer-dark .footer-link-list li a {color:#777;font-size:12px;display:inline-block}
.footer.footer-dark .footer-link-list a:hover {color:#bbb}
.footer.footer-dark .contactus {margin-bottom:0}
.footer.footer-dark .contactus li {margin-bottom:20px;color:#64646a}
.footer.footer-dark .contactus li:before, .footer.footer-dark .contactus li:after {content:" ";display:table}
.footer.footer-dark .contactus li:after {clear:both}
.footer.footer-dark .contactus li i {float:left;width:30px;height:30px;color:#aaa;padding:8px 5px;background:#45454a;text-align:center;margin:4px 10px 0 0;display:inline-block}
.footer.footer-dark .contactus li p {margin-bottom:0}
.footer.footer-dark .contactus li a {color:#777}
.footer.footer-dark .contactus li a:hover {color:#bbb}
.footer.footer-dark .copyright {margin-top:10px;padding:15px 0;background:#000}
.footer.footer-dark .copyright p {font-size:12px;margin:0;color:#777}

/*----- Back To Top -----*/
.eb-top {z-index:9999;width:34px;height:34px;text-align:center;line-height:32px;color:#fff;background:rgba(0, 0, 0, 0.5);-webkit-border-radius:50% !important;-moz-border-radius:50% !important;border-radius:50% !important}

/*----- Perfect Scrollbar -----*/
.contentHolder{padding:0;height:320px;margin:0 auto;overflow:hidden;position:relative;background:#fff}
@media (max-width: 767px){
	.contentHolder{height:auto}
}

/*----- Table List eb -----*/
.table-list-eb {font-size:12px}
.table-list-eb .btn-e.dropdown-toggle {border-left:none}
.table-list-eb .btn-group .btn-e {top:4px;padding:0 6px;position:relative}
.table-list-eb .table tbody > tr > td {border-top:1px solid #e5e5e5}
.table-list-eb .table thead > tr > th {text-align:center}
.table-list-eb thead {border-top:1px solid #e5e5e5;background:#f8f8f8}
.table-list-eb tbody {border-bottom:1px solid #e5e5e5}
.table-list-eb tfoot {border-bottom:1px solid #e5e5e5;background:#f8f8f8}
.table-list-eb td {vertical-align:middle !important}
.table-list-eb .user-names span,.table-list-eb .user-names small {display:block;text-align:center}
.table-list-eb .user-names span {color:#555;font-size:16px;position:relative}
.table-list-eb .user-names small {color:#999;font-size:12px}
.table-list-eb td h3 {font-size:14px;margin:0 0 2px;color:#000}
.table-list-eb td a {color:#000}
.table-list-eb td a:hover {color:#ff2a00}
.table-list-eb td p {margin-bottom:0;color:#555}
.table-list-eb .s-icons {margin-bottom:0}
.table-list-eb .s-icons li {padding:2px}
.table-list-eb .table-button s{margin:0}
.table-list-eb .table-buttons li {padding:0}
.table-list-eb .table-buttons .btn-e-sm {padding:3px 6px}
.table-list-eb .td-width {width:40%}
.table-list-eb .td-width-60 {width:60%}
.table-list-eb .td-width-50 {width:50%}
.table-list-eb .td-width-40 {width:40%}
.table-list-eb .td-width-30 {width:30%}
.table-list-eb .td-width-20 {width:20%}
.table-list-eb .td-width-10 {width:10%}
@media (max-width: 767px){
	.table-responsive {border-top:0;border-bottom:0}
}

/*----- Modal -----*/
.modal-header, .modal-body, .modal-footer {padding:10px}

/*----- G5 Captcha -----*/
.vc-captcha {padding:15px 10px 10px;border:1px solid #ddd}
.vc-captcha fieldset {padding:0}
#captcha #captcha_img {height:62px;border:1px solid #eee;width:158px}
#captcha #captcha_key {width:130px;height:62px;border:1px solid #ddd;font-size:24px;line-height:14px;margin-left:34px}
#captcha .required,#captcha textarea.required {background:#fff !important}

/*----- 회원 레이어팝업 -----*/
.sv_wrap .sv {z-index:998;border:1px solid #ccc;min-width:110px;padding:4px 0;background:#fff}
.sv_wrap .sv a{background:#fff;color:#000 !important;padding:3px 12px;font-size:12px;border-bottom:0;display:block;width:110px}
.sv_wrap .sv a:hover{background:#f4f4f4}

/*----- EXIF INFO -----*/
.exif_info {position:relative;overflow:hidden;border:1px dotted #ddd;padding:5px 10px;background:#fafafa;margin:10px 0}
.exif_info ul {list-style:none;margin-bottom:0;-webkit-padding-start:0}
.exif_info ul li {display:inline-block;padding:0 8px;font-size:11px;color:#888}
.exif_info ul li:before {content:"-";margin-right:5px}

/*----- Etc -----*/
fieldset legend{border-bottom:0}
.sch_word{color:crimson}