<?php if (!defined("_GNUBOARD_")) exit; ?>

<h1>insert payment</h1>

<form action="insert_payment.php" method="post">
    <table border="0">
        <tr>
            <td>user id</td>
            <td><input type="text" name="user_id" maxlength="13" size="13"></td>
        </tr>
        <tr>
            <td>money</td>
            <td> <input type="text" name="money" maxlength="30" size="30"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Register"></td>
        </tr>
    </table>
</form>