<?php if (!defined("_GNUBOARD_")) exit; ?>

<h1>사용자 입력</h1>

<form action="insert_user.php" method="post">
    <table border="0">
        <tr>user_id
            <td>user id</td>
            <td><input type="text" name="user_id" maxlength="13" size="13"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Register"></td>
        </tr>
    </table>
</form>
</br></br></br>
<h1><a href=http://xn--2o2bq0eztnboo.com/page/?pid=mim>test main</a></h1>