<?php if (!defined("_GNUBOARD_")) exit; ?>

<h1>insert daily job (select)</h1>

<form action="insert_job_config.php" method="post">
    <table border="0">
        <tr>
            <td>main sleep time</td>
            <td><input type="text" name="main_sleep_time" maxlength="13" size="13"></td>
        </tr>

        <tr>
            <td>child sleep time</td>
            <td><input type="text" name="child_sleep_time" maxlength="13" size="13"></td>
        </tr>

        <tr>
            <td>daily max job num</td>
            <td><input type="text" name="daily_max_job_num" maxlength="13" size="13"></td>
        </tr>

        <tr>
            <td>payment max job num</td>
            <td><input type="text" name="payment_max_job_num" maxlength="13" size="13"></td>
        </tr>

        <tr>
            <td>checking time</td>
            <td><input type="text" name="checking_time" maxlength="13" size="13"></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Register"></td>
        </tr>
    </table>
</form>