<?php if (!defined("_GNUBOARD_")) exit; ?>

<h1>insert payment job</h1>

<form action="select_user_sns_info.php" method="post">
    <table border="0">
        <tr>
            <td>user id</td>
            <td><input type="text" name="user_id" maxlength="13" size="13"></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Register"></td>
        </tr>
    </table>
</form>