<?php if (!defined('_GNUBOARD_')) exit; ?>

<div class="tab_newcomment">
	<!--{@ comment}-->
    <article class="new-comment">
		<a href="{.href}">
			<div class="comment-subject">
				{.wr_subject}
			</div>
			<span class="comment-photo"><!--{? .mb_photo}-->{.mb_photo}<!--{:}--><span class="comment-user-icon"><i class="fa fa-user"></i></span><!--{/}--></span>
			<span class="comment-nick">{.mb_nick}</span>
			<span class="comment-time"><i class="fa fa-clock-o {? .new}color-red{:}i-color{/}"></i> {eb->date_time('Y-m-d',.datetime)}</span>
		</a>
    </article>
    <!--{:}-->
    <p class="text-center font-size-12 margin-top-10">최신글이 없습니다.</p>
	<!--{/}-->
</div>

<style>
.new-comment {position:relative;overflow:hidden;padding:8px 0;border-top:1px solid #eee}
.new-comment:first-child {border-top:none}
.new-comment .margin-hr-5 {height:1px;border-top:1px dotted #eee;margin:5px 0}
.new-comment .comment-subject {display:block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;font-size:12px}
.new-comment a:hover .comment-subject {text-decoration:underline}
.new-comment .comment-photo img {width:20px;height:20px;margin-right:2px}
.new-comment .comment-photo .comment-user-icon {width:20px;height:20px;font-size:14px;line-height:20px;text-align:center;background:#84848a;color:#fff;margin-right:2px;display:inline-block;white-space:nowrap;vertical-align:baseline}
.new-comment .comment-nick {font-size:11px;color:#777}
.new-comment .comment-time {font-size:11px;color:#777;margin-left:5px}
.new-comment .comment-time .i-color {color:#bbb}
</style>