<?php if (!defined("_GNUBOARD_")) exit; ?>

<div>
    <h1>MIM Test Page</h1>
    </br>
    <form action="{C.G5_URL}/eyoom/theme/basic2/mim/insert_user.html" >
        <table border="0">
            <tr>
                <td colspan="2"><input type="submit" value="add user"></td>
            </tr>
        </table>
    </form>
    </br>
    </br>
    <form action="{C.G5_URL}/eyoom/theme/basic2/mim/insert_sns.html">
        <table border="0">
            <tr>
                <td colspan="2"><input type="submit" value="add sns"></td>
            </tr>
        </table>
    </form>
    </br>
    </br>
    <form action="{C.G5_URL}/eyoom/theme/basic2/mim/insert_daily_job.html" >
        <table border="0">
            <tr>
                <td colspan="2"><input type="submit" value="add daily job"></td>
            </tr>
        </table>
    </form>
    </br>
    </br>
    <form action="{C.G5_URL}/eyoom/theme/basic2/mim/insert_payment_job.html">
        <table border="0">
            <tr>
                <td colspan="2"><input type="submit" value="add payment job"></td>
            </tr>
        </table>
    </form>
    </br>
    </br>
    <form action="{C.G5_URL}/eyoom/theme/basic2/mim/insert_payment.html" >
        <table border="0">
            <tr>
                <td colspan="2"><input type="submit" value="add payment"></td>
            </tr>
        </table>
    </form>
    </br>
    </br>
    <form action="{C.G5_URL}/eyoom/theme/basic2/mim/insert_job_config.html" >
        <table border="0">
            <tr>
                <td colspan="2"><input type="submit" value="add job config"></td>
            </tr>
        </table>
    </form>
    </br>

</div>
</div>
</div>