<?php if (!defined("_GNUBOARD_")) exit; ?>

<h1>MIM Test Page</h1>
</br>
<table style="margin: 20px 10px ">
    <tr>
        <td style="padding: 10px " >
            <form action="{C.G5_URL}/eyoom/theme/basic2/mim/update/select_user.php" >
                <input type="submit" value="update user"  style="padding: 10px " >
            </form>
        </td>
        <td style="padding: 10px " >
            <form action="{C.G5_URL}/eyoom/theme/basic2/mim/update/select_user.php" >
                <input type="submit" value="update sns"  style="padding: 10px " >
            </form>
        </td>
        <td style="padding: 10px " >
            <form action="{C.G5_URL}/eyoom/theme/basic2/mim/update/select_daily_job.php" >
                <input type="submit" value="update daily job"  style="padding: 10px " >
            </form>
        </td>
        <td style="padding: 10px " >
            <form action="{C.G5_URL}/eyoom/theme/basic2/mim/update/select_payment_job.php">
                <input type="submit" value="update payment job"  style="padding: 10px " >
            </form>
        </td>
        <td style="padding: 10px " >
            <form action="{C.G5_URL}/eyoom/theme/basic2/mim/update/select_payment.php" >
                <input type="submit" value="update payment"  style="padding: 10px " >
            </form>
        </td>
        <td style="padding: 10px " >
            <form action="{C.G5_URL}/eyoom/theme/basic2/mim/update/select_job_config.php" >
                <input type="submit" value="update job config"  style="padding: 10px " >
            </form>
        </td>
    </tr>
</table>