<?php if (!defined("_GNUBOARD_")) exit; ?>

<h1>MIM Test Page</h1>
</br>
<table style="margin: 20px 10px ">
    <tr>
        <td style="padding: 10px " >init data in the table </td>
    </tr>

        <form action="{C.G5_URL}/eyoom/theme/basic2/mim/delete/init_select_table.php" method='post' >
            <tr>
                <td style="padding: 10px " >
                    <input type="radio" name="init_cmd" value="init_user_info_table">init_user_info_table
                </td>
            </tr>

            <tr>
                <td style="padding: 10px " >
                    <input type="radio" name="init_cmd" value="init_user_sns_info_table">init_user_sns_info_table
                </td>
            </tr>

            <tr>
                <td style="padding: 10px " >
                    <input type="radio" name="init_cmd" value="init_payment_info_table">init_payment_info_table
                </td>
            </tr>

            <tr>
                <td style="padding: 10px " >
                    <input type="radio" name="init_cmd" value="init_daily_job_queue_table">init_daily_job_queue_table
                </td>
            </tr>

            <tr>
                <td style="padding: 10px " >
                    <input type="radio" name="init_cmd" value="init_payment_job_queue_table">init_payment_job_queue_table
                </td>
            </tr>

            <tr>
                <td style="padding: 10px " >
                    <input type="radio" name="init_cmd" value="init_job_config_table">init_job_config_table
                </td>
            </tr>

            <tr>
                <td style="padding: 10px " >
                    <input type="submit" value="init_cmd"  style="padding: 10px " >
                </td>
            </tr>

        </form>
</table>

<tr></tr><tr>
    <table style="margin: 20px 10px ">
        <tr>
            <td style="padding: 10px " >
                <form action="{C.G5_URL}/eyoom/theme/basic2/mim/delete/select_user.php" >
                    <input type="submit" value="delete_user_data"  style="padding: 10px " >
                </form>
            </td>
            <td style="padding: 10px " >
                <form action="{C.G5_URL}/eyoom/theme/basic2/mim/delete/select_sns.php" >
                    <input type="submit" value="delete_user_sns_data"  style="padding: 10px " >
                </form>
            </td>
            <td style="padding: 10px " >
                <form action="{C.G5_URL}/eyoom/theme/basic2/mim/delete/select_payment.php" >
                    <input type="submit" value="delete_payment_data"  style="padding: 10px " >
                </form>
            </td>
            <td style="padding: 10px " >
                <form action="{C.G5_URL}/eyoom/theme/basic2/mim/delete/select_payment_job.php">
                    <input type="submit" value="delete_payment_job_data"  style="padding: 10px " >
                </form>
            </td>
            <td style="padding: 10px " >
                <form action="{C.G5_URL}/eyoom/theme/basic2/mim/delete/select_daily_job.php" >
                    <input type="submit" value="delete_daily_job_data"  style="padding: 10px " >
                </form>
            </td>
            <td style="padding: 10px " >
                <form action="{C.G5_URL}/eyoom/theme/basic2/mim/delete/select_job_config.php" >
                    <input type="submit" value="delete_job_config_data"  style="padding: 10px " >
                </form>
            </td>
        </tr>
    </table>