<?php if (!defined("_GNUBOARD_")) exit; ?>

<h1>insert sns info</h1>

<form action="insert_sns.php" method="post">
    <table border="0">
        <tr>
            <td>user id</td>
            <td><input type="text" name="user_id" maxlength="13" size="13"></td>
        </tr>
        <tr>
            <td>sns type</td>
            <td>
                <li>
                    <label for="job"> sns type : </label>
                    <select name="sns_type" id="sns_type">
                        <option value="instagram">instagram</option>
                        <option value="twitter">twitter</option>
                        <option value="facebook">facebook</option>
                        <option value="youtube">youtube</option>
                        <option value="kakaotalk">kakaotalk</option>
                    </select>
                </li>
            </td>
        </tr>
        <tr>
            <td>sns id</td>
            <td> <input type="text" name="sns_id" maxlength="60" size="30"></td>
        </tr>
        <tr>
            <td>sns pwd</td>
            <td><input type="text" name="sns_passwd" maxlength="7" size="7"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Register"></td>
        </tr>
    </table>
</form>